<section class="row" style="margin: 25px auto;">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" target="_self">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="/shop" target="_self">Quán Ăn</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{shop.name}}</li>
      </ol>
    </nav>
  </div>

  <div class="col-sm-8">
    <!-- food detail -->
    <div class="card">
      <div class="card-header pannel-orange-bg">
        Thông Tin Quán Ăn
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <!-- post item -->
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{shop.name}}</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
                atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                voluptatibus possimus, veniam magni quis!</p>
              <hr/>
              <button class="btn btn-warning btn-block text-white">
                <b> <i class="fas fa-check-square"></i> Tạo Kèo Đi Quán Này</b>
              </button>
              <hr/>
            </div>

            <!-- food images gallery-->
            <div class="container">
              <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
              </div>
            </div>
            <!-- ./ food images gallery-->
          </div>
          <!-- ./ post item -->
        </div>
      </div>
    </div>
    <!-- ./ food detail -->

    <!-- shops -->
    <div class="card">
      <div class="card-header pannel-orange-bg">
        Danh Sách Món Ăn Quán Phục Vụ
      </div>
      <div class="card-body">
        <!-- shops list -->
        {{#each shop.foods}}
        <div class="media border p-3 agd-card-normal">
          <img src="https://via.placeholder.com/150x150" alt="{{this.name}}" class="img-thumbnail mr-3">
          <div class="media-body">
            <div class="row">
              <div class="col-sm-9">
                <h6>{{this.name}}</h6>
                <p>{{this.shops.length}} Shop served</p>
              </div>
              <div class="col-sm-3">
                <a class="btn btn-warning" href="/food/{{this.id}}" target="_self">
                  <i class="fas fa-utensils"></i> Xem chi tiết
                </a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        <!-- ./ shops list -->
      </div>
      <!-- ./ shops -->
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header pannel-orange-bg">Có Thể Bạn Sẽ Thích</div>
      <div class="card-body">
        <!-- recommends list -->
        {{#each recommends}}

        {{#ifCond this.type '===' 'food'}}
        <!-- food card -->
        <div class="media border p-3 agd-card-normal" style="background-color: #c5ef8e;">
          <img src="https://via.placeholder.com/100x100" class="mr-3">
          <div class="media-body">
            <h6><i class="fas fa-utensils"></i> {{this.name}}</h6>
            <p>{{this.shops.length}} Shop served</p>
          </div>
        </div>
        <!-- ./ food card -->
        {{/ifCond}}

        {{#ifCond this.type '===' 'shop'}}
        <!-- shop card -->
        <div class="media border p-3 agd-card-normal" style="background-color: #ebf7cf;">
          <img src="https://via.placeholder.com/100x100" class="mr-3">
          <div class="media-body">
            <h6><i class="fas fa-building"></i> {{this.name}}</h6>
            <p>{{this.address}}</p>
          </div>
        </div>
        <!-- ./shop card -->
        {{/ifCond}}
        {{/each}}
        <!-- ./ recommends list -->
      </div>
    </div>
  </div>
</section>