<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="/" target="_self">AnGiDay</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      {{#if user}}
      <!-- if user logged -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Hi {{user.username}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/u" target="_self">Dashboard</a>
          <a class="dropdown-item" href="/signout" target="_self">Logout</a>
        </div>
      </li>
      <!-- ./ if user logged -->
      {{else}}
      <li class="nav-item">
        <a class="nav-link" target="_self" href="/signin">Signin</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>