<main role="main" ng-controller="HomePageController as vm">
  <div class="row">
    <div class="col-sm-4" style="padding: 0 !important;">
      <div class="card">
        <img class="card-img-top" src="\{{vm.topPopularFoods[0].imageUrl}}" alt="Card image cap" style="height:250px; width: 100%;">
        <div class="card-body">
          <h4 class="card-title">\{{vm.topPopularFoods[0].name}}</h4>
          <p class="card-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
            \{{vm.topPopularFoods[0].description}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding: 0 !important;">
      <div class="card">
        <img class="card-img-top" src="\{{vm.topPopularFoods[1].imageUrl}}" alt="Card image cap" style="height:250px; width: 100%;">
        <div class="card-body">
          <h4 class="card-title">\{{vm.topPopularFoods[1].name}}</h4>
          <p class="card-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
            \{{vm.topPopularFoods[1].description}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding: 0 !important;">
      <div class="card">
        <img class="card-img-top" src="\{{vm.topPopularFoods[3].imageUrl}}" alt="Card image cap" style="height:250px; width: 100%;">
        <div class="card-body">
          <h4 class="card-title">\{{vm.topPopularFoods[3].name}}</h4>
          <p class="card-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
            \{{vm.topPopularFoods[3].description}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="background-color: #e4d2bc;">
    <div class="col-sm-12" style="margin: 15px;">
      <div class="card" align="center" ng-repeat="c in vm.collections track by $index" style="width: 150px; float: left;">
        <img src="\{{c.imageUrl}}" width="70" height="70" class="rounded-circle" alt="Cinque Terre">
        <small>\{{c.name}}</small>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-bg row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <h1>Ăn Gì Đây ?</h1>
      <p>Ứng Dụng Tìm Kiếm Món Ăn, Công Thức, Địa Điểm Ăn Vặt</p>

      <tags-input ng-model="vm.tags" min-length="1" style="height: 60px; color: black;" ng-model="tags" placeholder="Bạn muốn tìm gì ?">
        <auto-complete source="vm.loadTags($query)" load-on-focus="true" load-on-empty="true"></auto-complete>
      </tags-input>
      <br />
      <div align="center">
        <button ng-click="vm.doSearchFoodByTags()" type="button" class="btn">Tìm Kiếm</button>
      </div>
    </div>
  </div>

  <div class="container" ng-if="vm.userLogged">
    <h3>Cá nhân hoá trang của bạn</h3>
  </div>
  <div class="container" ng-if="!vm.userLogged">
    <h3>Hãy đăng nhập ngay để có trải nghiệm tốt nhất.</h3><a href="/signin" target="_self"> Đăng nhập</a>
  </div>

  <div class="container" ng-if="vm.userLogged">
    <div class="row">
      <div class="card" align="center" ng-repeat="c in vm.collections track by $index" style="margin: 10px;">
        <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-warn" style="background: orange;" ng-click="vm.doFollowCollection(c)">
              <i class="fas fa-heart" ng-class="{'text-danger': c.followed}"></i>
            </button>
          </div>
          <div class="col-sm-9">
            <small>\{{c.name}}</small>
          </div>
        </div>
      </div>
    </div>
    <button ng-if="vm.showButtonUpdateNewFeed" class="btn btn-success" ng-click="vm.updateFoodNewFeeds()">
      Cập Nhật Danh Sách Món
    </button>
  </div>
  <br /><br />

  <div class="container">
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4" ng-repeat="food in vm.topPopularFoods track by $index">
        <div class="card h-100">
          <img class="card-img-top" src="\{{food.imageUrl}}" alt="Card image cap" style="height:250px; width: 100%;">
          <div class="card-body">
            <a href="/food/\{{food.id}}" target="_self">
              <h2 class="card-title">\{{food.name}}</h2>
            </a>
            <p class="card-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 7;-webkit-box-orient: vertical;">
              \{{food.description}}
            </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</main>