<main role="main" ng-controller="HomePageController as vm">
  <div class="jumbotron jumbotron-bg row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <h1>Ăn Gì Đây ?</h1>
      <p>Ứng Dụng Tìm Kiếm Món Ăn, Công Thức, Địa Điểm Ăn Vặt</p>

      <tags-input ng-model="vm.tags" min-length="1" style="height: 60px; color: black;" ng-model="tags" placeholder="Bạn muốn tìm gì ?"
        add-from-autocomplete-only="true">
        <auto-complete source="vm.loadTags($query)" load-on-focus="true" load-on-empty="true"></auto-complete>
      </tags-input>
      <br />
      <div align="center">
        <button ng-click="vm.doSearchFoodByTags()" type="button" class="btn">Tìm Kiếm</button>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4" ng-repeat="i in [1,2,3,4,5,6,8]">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Card One</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam,
              maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</main>