<section class="row" style="margin: 25px auto;">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" target="_self">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="/food" target="_self">Món Ăn</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{food.name}}</li>
      </ol>
    </nav>
  </div>

  <div class="col-sm-8">
    <!-- food detail -->
    <div class="card">
      <div class="card-header pannel-orange-bg">
        Thông Tin Món Ăn
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <!-- post item -->
          <div class="card mb-4">
            <img class="card-img-top" src="{{food.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{food.name}}</h2>
              <p class="card-text">{{food.description}}</p>
            </div>
            <div class="container">
              <h3>Từ Khoá</h3>
              {{#each food.keywords}}
              <a href="/search?word_ids={{this.id}}" target="_self">
                <span class="badge badge-primary">{{this.name}}</span>
              </a>
              {{/each}}
            </div>
            <hr />

            <!-- food images gallery-->
            <div class="container">
              <h4>Món Ăn Tương Tự</h4>
              <hr />
              <div class="row text-center text-lg-left">
                {{#each food.smilarFoods}}
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <img style="width: 150px; height: 150px;" class="img-fluid img-thumbnail" src="{{this.imageUrl}}" alt="">
                  <a href="/food/{{this.id}}" target="_self" class="d-block mb-4 h-100">
                    {{this.name}}
                  </a>
                </div>
                {{/each}}
              </div>
            </div>
            <!-- ./ food images gallery-->
          </div>
          <!-- ./ post item -->
        </div>
      </div>
    </div>
    <!-- ./ food detail -->

    <!-- shops -->
    <div class="card">
      <div class="card-header pannel-orange-bg">
        Danh Sách Quán Ăn Phục Vụ
      </div>
      <div class="card-body">
        <!-- shops list -->
        {{#each food.eShops}}
        <div class="media border p-3 agd-card-normal">
          <div class="media-body">
            <div class="row">
              <div class="col-sm-8">
                <h6>
                  <a href="{{this.link}}" target="_blank">{{this.name}}</a>
                </h6>
                <p>{{this.address}}</p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        <!-- ./ shops list -->
      </div>
      <!-- ./ shops -->

      <!-- cooking recipes -->
      <div class="card">
        <div class="card-header pannel-orange-bg">
          Công Thức Nấu
        </div>
        <div class="card-body">
          <div class="col-md-12">
            {{#each food.eRecipes}}
            <!-- post item -->
            <div class="card mb-4">
              <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title">{{this.name}}</h2>
                  <p class="card-text">
                    <!-- Thieu phan mo ta cong thuc -->
                  </p>
                  <hr />
                  <h4>Nguyên liệu</h4>
                  <hr />

                  <ul>
                    {{#each this.ingredients}}
                    <li><b>Bước {{@index}}.</b> {{this}}</li>
                    {{/each}}
                  </ul>

                  <h4>Cách nấu</h4>
                  <hr />
                  <ul>
                    {{#each this.directions}}
                    <li><b>Bước {{@index}}.</b> {{this}}</li>
                    {{/each}}
                  </ul>
              </div>
            </div>
            <!-- ./ post item -->
            {{/each}}
          </div>
        </div>
      </div>
      <!-- ./ cooking recipes -->
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header pannel-orange-bg">Có Thể Bạn Sẽ Thích</div>
      <div class="card-body">
        <!-- recommends list -->
        {{#each food.recommendFoods}}
        <!-- food card -->
        <div class="media border p-3 agd-card-normal">
          <img src="{{this.imageUrl}}" class="mr-3" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h6>
              <a href="/food/{{this.id}}" target="_self">{{this.name}}
                <span class="badge badge-warning">{{this.rank.low}}</span></a>
            </h6>
            <p class="card-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical; word-break: break-all;">
              {{this.description}}
            </p>
          </div>
        </div>
        <!-- ./ food card -->
        {{/each}}
        <!-- ./ recommends list -->
      </div>
    </div>
  </div>
</section>