<br />
<div class="col-sm-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/cms/campaign" target="_self">Campaign management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create campaign</li>
    </ol>
  </nav>
</div>

<section class="container">
  <br />
  <div class="row">
    <div class="col-sm-8">
      <h3>Campagin Create</h3>
    </div>
    <div class="col-sm-4 text-right">
      <button ng-click="vm.createCampaign()" type="button" class="btn btn-primary">Save Content</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Basic Configurations</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Campagin Name</b>
              </label>
              <div class="col-sm-9">
                <input ng-model="vm.campaign.name" class="form-control" type="text" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Description</b>
              </label>
              <div class="col-sm-9">
                <textarea ng-model="vm.campaign.description" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- ./ distribution -->
    </div>
  </div>
</section>