<br />
<div class="col-sm-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/cms/campaign" target="_self">Campaign management</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{vm.campaign.name}}</li>
    </ol>
  </nav>
</div>

<section class="container">
  <br />
  <div class="row">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4 text-right">
      <button ng-click="vm.updateCampaign()" type="button" class="btn btn-primary">Save Draft</button>
      <button ng-click="vm.updateCampaign(true)" type="button" class="btn btn-success">Save & Confirm</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5>I. Basic Configurations</h5>
        </div>
        <div class="card-body">
          <form>


            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Campaign Status</b>
              </label>
              <div class="col-sm-9">
                <span ng-if="vm.campaign.confirmed" class="badge badge-success">Confirmed</span>
                <span ng-if="!vm.campaign.confirmed" class="badge badge-primary">Draft</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Campaign Name</b>
              </label>
              <div class="col-sm-9">
                <input ng-model="vm.campaign.name" class="form-control" type="text" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Description</b>
              </label>
              <div class="col-sm-9">
                <textarea ng-model="vm.campaign.description" class="form-control" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                <b>Start Date:</b>
              </label>
              <div class="col-sm-9">
                <input class="form-control" type="date" id="exampleInput" name="input" ng-model="vm.campaign.startDate"
                  placeholder="yyyy-MM-dd" required />
              </div>
            </div>
          </form>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">
          <h5>II. Reach Statistical</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">
                <b>Total Reach User</b>
              </label>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="{{vm.totalReachUser || 0}}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <br />
      <!-- distribution -->
      <div class="card">
        <div class="card-header">
          <h5>III. Distribution Content</h5>
        </div>
        <div class="card-body">
          <h5>Keywords</h5>
          <tags-input on-tag-added="vm.calculatingReachUser()" on-tag-removed="vm.calculatingReachUser()" ng-model="vm.campaign.keywords"
            min-length="1" style="height: 60px; color: black;" add-from-autocomplete-only="true">
            <auto-complete source="vm.loadTags($query)" load-on-focus="true" load-on-empty="true"></auto-complete>
          </tags-input>
          <hr />
          <h5>Foods</h5>
          <!-- food items -->
          <div class="card" ng-repeat="food in vm.campaign.foods" style="margin-bottom: 10px; background-color: #fbfbfb;">
            <div class="card-body">
              <h4 class="card-title">
                {{$index + 1}}. {{food.name}}
              </h4>
              <div class="text-right">
                <button ng-click="vm.removeFood(food)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
                  Remove</button>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <img class="card-img-top" src="{{food.imageUrl}}" alt="Card image" style="max-width: 200px;">
                </div>
                <div class="col-sm-8">
                  <b>Description</b>
                  <p>{{food.description}}</p>
                  <hr />
                  <b>Keywords</b>
                  <div>
                    <a ng-repeat="w in food.keywords" href="/search?word_ids={{w.id}}" target="_blank">
                      <span class="badge badge-primary">{{w.name}}</span>
                    </a>
                  </div>
                  <hr />
                </div>
              </div>
              <br />
              <b>Content</b>
              <hr />
              <textarea ui-tinymce="tinymceOptions" ng-model="food.content" class="form-control" name="questionContent"
                placeholder="Question Content" required>
                </textarea>
            </div>
          </div>
          <!-- ./ food items -->
        </div>
      </div>
      <!-- ./ distribution -->
    </div>
    <div class="col-sm-4">
      <!-- suggestion -->
      <div class="card">
        <div class="card-header">
          <h5>Food Search</h5>
        </div>

        <div class="card-body">
          <div class="input-group mb-3">
            <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Search text" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button ng-click="vm.searchUserInteractive()" class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>

          <div ng-if="vm.searchResult.texts.length">
            <h6>Top User Input Search Text</h6>
            <ul>
              <li ng-repeat="text in vm.searchResult.texts track by $index">{{text}}</li>
            </ul>
            <hr />
          </div>

          <div ng-if="vm.searchResult.keywords.length">
            <h6>Top Clicked Keywords</h6>
            <div style="max-height: 200px; overflow: scroll;">
              <ul class="list-group">
                <li ng-repeat="keyword in vm.searchResult.keywords track by $index" class="list-group-item">
                  {{ $index + 1 }}. {{keyword.name}} <span ng-click="vm.useKeyword(keyword)" class="badge badge-primary">Use</span>
                </li>
              </ul>
            </div>
            <hr />
          </div>

          <div ng-if="vm.searchResult.foods.length">
            <h6>Top Clicked Foods</h6>
            <div style="max-height: 200px; overflow: scroll;">
              <ul class="list-group">
                <li ng-repeat="food in vm.searchResult.foods track by $index" class="list-group-item">
                  {{ $index + 1 }}. {{food.name}} <span ng-click="vm.useFood(food)" class="badge badge-primary">Use</span>
                </li>
              </ul>
            </div>
            <hr />
          </div>

          <div ng-if="vm.searchResult.systemKeywords.length">
            <h6>System Keywords</h6>
            <div style="max-height: 200px; overflow: scroll;">
              <ul class="list-group">
                <li ng-repeat="keyword in vm.searchResult.systemKeywords track by $index" class="list-group-item">
                  {{ $index + 1 }}. {{keyword.name}} <span ng-click="vm.useKeyword(keyword)" class="badge badge-primary">Use</span>
                </li>
              </ul>
            </div>
            <hr />
          </div>

          <div ng-if="vm.searchResult.systemFoods.length">
            <h6>Foods Matching</h6>
            <div style="max-height: 200px; overflow: scroll;">
              <ul class="list-group">
                <li ng-repeat="food in vm.searchResult.systemFoods track by $index" class="list-group-item">
                  {{ $index + 1 }}. {{food.name}} <span ng-click="vm.useFood(food)" class="badge badge-primary">Use</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ./ suggestion -->
    </div>
  </div>
</section>