<section ng-controller="FoodManagementController as vm">
  <div class="container">
    <br />
    <h3>Food Management Page</h3>
    <hr />
  </div>
  <div class="container">

    <div class="row">
      <div class="col-sm-8">
        <!-- foods -->
        <div id="accordion">
          <div class="card" ng-repeat="food in vm.foods track by $index">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#food_{{$index}}" ng-click="vm.viewDetailFood(food)">
                {{$index + 1 }}. {{food.name}}
              </a>
            </div>
            <div id="food_{{$index}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>{{food.description}}</p>

                <!-- food keywords -->
                <div class="media" ng-repeat="keyword in food.keywords track by $index">
                  <img src="https://via.placeholder.com/35x35" alt="{{keyword.name}}" class="mr-3 mt-3 rounded-circle"
                    style="width:45px;">
                  <div class="media-body">
                    <h4>{{keyword.name}}</h4>
                    <p>{{keyword.description}}</p>
                  </div>
                </div>
                <!-- ./ food keywords -->
              </div>
            </div>
          </div>
          <hr />
          <food-setting-card-component id="false"></food-setting-card-component>
        </div>
        <!-- ./ foods -->
      </div>
      <div class="col-sm-4">
        <div ng-if="vm.selectedFood">
          <food-setting-card-component id="vm.selectedFood.id"></food-setting-card-component>
        </div>
      </div>
    </div>
  </div>
</section>