<div class="container page-content" ng-controller="HomePageController as vm">
  <br /><br />

  <h2>Đăng Ký Tài Khoản Mới</h2>
  <hr />
  <p>
    Bạn đã có tải khoản ? <a href="/signin" target="_self">Đăng Nhập Ngay</a>
  </p>

  <form class="form-horizontal" method="POST" action="/signup">
    {{#if message}}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {{/if}}
    <!-- firstname -->
    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label">Tên</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstName" placeholder="First name">
      </div>
    </div>
    <!-- ./ firstname -->

    <!-- lastname -->
    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label">Họ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastName" placeholder="Last name">
      </div>
    </div>
    <!-- ./ lastname -->

    <!-- username -->
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Tên tài khoản</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" placeholder="Tên tài khoản">
      </div>
    </div>
    <!-- ./ username -->

    <!-- email -->
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Địa chỉ email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
    </div>
    <!-- ./ email -->

    <!-- password -->
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Mật khẩu</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>
    <!-- ./ password -->

    <div class="container">
        <h4>Cá nhân hoá trang của bạn</h4>
      </div>
      <div class="container">
        <div class="row">
          <div class="card" align="center" ng-repeat="c in vm.suggestCollections track by $index" style="width: 150px; margin-left: 10px;margin-top: 10px;">
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-warn" style="background: orange;">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
              <div class="col-sm-9">
                <small>\{{c.name}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br />

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warn" style="background: orange;">Tạo tài khoản</button>
      </div>
    </div>
  </form>
</div>